services:
  prometheus:
    image: prom/prometheus:latest
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      - --storage.tsdb.path=/prometheus
      - --web.external-url=http://localhost:9090
    ports:
      - 9090:9090
    volumes:
      - ./prometheus.yaml:/etc/prometheus/prometheus.yml
      - ./rules.yaml:/etc/prometheus/rules.yaml
      - ./prometheus:/prometheus
    restart: always

  node-exporter:
    image: prom/node-exporter:latest
    ports:
      - 9100:9100
    restart: always

  alertmanager:
    image: prom/alertmanager:latest
    command:
      - --config.file=/etc/alertmanager/alertmanager.yml
      - --storage.path=/alertmanager
      - --web.external-url=http://localhost:9093
    ports:
      - 9093:9093
    volumes:
      - ./alertmanager.yaml:/etc/alertmanager/alertmanager.yml
      - ./alertmanager:/alertmanager
    restart: always

  http-service:
    image: http-service:latest
    build:
      context: http_service
      dockerfile: Dockerfile
    environment:
      - RUST_ENV=production
      - RUST_LOG=info
      - PORT=8080
    ports:
      - 8080:8080
    restart: always
